
// Fonts
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: url("/img/0Xw9u.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
}

table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked, table thead, table tfoot, .footer, table thead, table tfoot  {
  background: #0c0c0c;
}

table.dataTable.fixedHeader-floating thead:after {
  content:"";
  position:absolute;
  width:100%;
  bottom:1px;
  z-index:-1;
  box-shadow: 0px 0px 8px 2px #0c0c0c;
}

table.dataTable.fixedHeader-floating tfoot:after {
  content:"";
  position:absolute;
  width:100%;
  top:1px;
  z-index:-1;
  box-shadow: 0px 0px 8px 2px #0c0c0c;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom:0em;
}

.bg-light-warning {
  background-color: rgba(115, 90, 13, 0.5) !important;
}

.bg-light-success {
  background-color: rgba(24, 68, 34, 0.5) !important;
}

.page-link {
  background-color: #0c0c0c;
  border: 1px solid #212529;
  color: white;
}

.page-item.disabled .page-link {
  color: #c5c5c5;
  pointer-events: none;
  cursor: auto;
  background-color: #2c3034;
  border-color: #2c3034;
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgb(12, 12, 12);
}

.page-item.active .page-link {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

a {
  color:#909090;
}

.footer {

}